

<body>

    <p class="text-xl-left">Left aligned text on viewports sized XL (extra-large) or wider.</p>

    <footer style="margin:38%">

        <img src="https://media.giphy.com/media/nXxOjZrbnbRxS/giphy.gif" alt="this slowpoke moves" width=250 />
    </footer>

</body>

<style>
    .position {
        position: center;
    }
   
</style>