@{
    @model SportsStoreNew.Service.Models.GetProductDetails

}
<style>
        .right {
            float: right;
            width: 45%;
            /*border: 1px solid red;*/
        }

        .left {
            float: left;
            margin-right: 20px;
            /*border: 1px solid red;*/
            width: 45%;
        }

        .display-inline {
            display: inline-block;
        }

        .card-img-top {
            width: 240px;
            height: 160px;
            padding: 5px;
        }

        .card {
            margin-right: 10px;
            background-color: transparent;
        }
    </style>


    <body style="background-color:whitesmoke">
        <div class="row">
            <div class="left">
                
                    @*// @Html.ActionLink("Details", "Details", new { Id = item.ProductId })*@
                    <div class="card  display-inline">
                        <img class="card-img-top" src="@Model.DetailsImageUrl " alt="Card image cap">
                    </div>
                
            </div>
            <div class="right">
 
                        <div class="card-body">
                            <h5 class="card-title">  @Model.Description </h5>
                            <p class="card-text" style="color:red">Price : @Model.ProductPrice</p>
                        </div>
                
            </div>

        </div>
    </body>

