@{
    @model ICollection<SportsStorenew.Domain.ProductDetails>

}
<style>
    .right {
        float: right;
        width: 45%;
       /*border: 1px solid red;*/
    }
    .left {
        float: left;
        margin-right:20px;
        /*border: 1px solid red;*/
        width: 45%;
    }
    .display-inline {display: inline-block;}
    .card-img-top {width: 240px; height: 160px; padding: 5px;}
    .card {
        margin-right: 10px;
        background-color: transparent;
    }
</style>

<body style="background-color:whitesmoke">
    <div class="row">
        <div class="left">
            @{int i = 1; }
            @foreach (var item in Model)
            {
                // @Html.ActionLink("Details", "Details", new { Id = item.ProductId })
                <div class="card  display-inline">
                    <img class="card-img-top" src="@item.DetailsImageUrl " alt="Card image cap">
                </div>
            }
        </div>
        <div class="right">
            
            @foreach (var item in Model)
            {

                if (i == 2)
                {
            <div class="card-body">
                <h5 class="card-title">  @item.Description </h5>
                <p class="card-text" style="color:red">Price : @item.ProductPrice</p>
            </div>
                }
                else i++;

            }
        </div>

    </div>
</body>