@model SportsStorenew.ViewModels.ShoppingCartViewModel

<!--<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

<a class="nav-link text-dark" asp-area="" asp-controller="ShoppingCart" asp-action="AddToCarts">-->
    @*<span class="glyphicon glyphicon-shopping-cart"></span>
        <span id="cart-status">
            @Model.ShoppingCartTotal
        </span>*@

    <!--<i class="fa fa-cart-arrow-down" style="font-size:36px">
        <span> @Model.ShoppingCartTotal </span>
    </i>
</a>-->

@Model.ShoppingCartTotal
