@model SportsStorenew.ViewModels.ShoppingCartViewModel



    <li>
        <a>
            <span class="glyphicon glyphicon-shopping-cart"></span>
            <span id="cart-status">
                @Model.ShoppingCartTotal
            </span>
        </a>
    </li>
